@media only screen and (min-width: 768px) {
	.wrt_h1 {
		display: inline-block;
		max-width: fit-content;
		overflow: hidden;
		color: #01c1af;
		border-right: 0.15em solid;
		white-space: nowrap;
		animation: typing 0.5s steps(20, end) forwards, blinking 1s infinite;
	}

	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	@keyframes blinking {
		from {
			border-color: transparent;
		}
		to {
			border-color: #01c1af;
		}
	}
}

.gradient2 {
	background: linear-gradient(90deg, #03192f 0%, #01c1af 100%);
}

body {
	background-color: #03192f;
}

#navPrincipal {
	transition: top 0.3s;
	background-color: #03192f;
}

.svg_footer:hover {
	color: #ffffff;
}

.link svg:hover {
	color: #ffffff;
}
