@media only screen and (min-width: 1400px) {
	.wrt_h1 {
		display: inline-block;
		max-width: fit-content;
		overflow: hidden;
		border-right: 0.15em solid;
		white-space: nowrap;
		animation: typing 2.5s steps(35, end) forwards, blinking 1s infinite;
	}

	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	@keyframes blinking {
		from {
			border-color: transparent;
		}
		to {
			border-color: #01c1af;
		}
	}
}

@media only screen and (min-width: 1400px) {
	/* imagen de inicio */

	.profile {
		width: 300px;
		height: 300px;

		cursor: pointer;
		position: relative;
		border-radius: 10px;
		color: #ec4899;
	}

	.profile .image img {
		border-radius: 10px;
		width: 300px;
		height: 300px;
	}

	.profile .image {
		position: absolute;
		transition: all 0.5s;
		z-index: 10;
	}

	.profile:hover .image {
		transform: translate(-50px, -50px);
	}

	.profile .content {
		position: absolute;
		bottom: 100px;
		left: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 19px;
		transition: all 0.5s;
		transition-delay: 0.5s;
	}

	.profile:hover .content {
		bottom: 8px;
	}

	.profile .content span:nth-child(1) {
		font-size: 17px;
	}

	.profile .content span:nth-child(2) {
		font-size: 13px;
	}
}

.profile {
	width: 300px;
	height: 300px;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	color: #ec4899;
}

.wrt_h1 {
	color: #01c1af;
}

.gradient2 {
	background: linear-gradient(90deg, #03192f 0%, #01c1af 100%);
}

body {
	background-color: #000000;
}

#navPrincipal {
	transition: top 0.3s;
	background-color: #000000;
}

.svg_footer:hover {
	color: #ffffff;
}

.link svg:hover {
	color: #ffffff;
}

#menu_bars:hover {
	color: #ffffff;
}

/* scroll animation */
.fadeTop {
	opacity: 0;
	transform: translate(0, 10vh);
	transition: all 1s;
}

.fadeRight {
	opacity: 0;
	transform: translate(10vh, 0vh);
	transition: all 1s;
}

.fadeLeft {
	opacity: 0;
	transform: translate(-10vh, 0vh);
	transition: all 1s;
}

.visible {
	opacity: 1;
	transform: translate(0, 0);
}

/*scroll settings*/
section[id] {
	scroll-margin-top: 75px;
}

html {
	scroll-behavior: smooth;
}
